<a href="https://colab.research.google.com/github/KhantPhyo/ord_numpy/blob/main/2.%20np_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://www.tutorialspoint.com/numpy/numpy_data_types.htm
import numpy as np
dt = np.dtype(np.int32)
print(dt)

int32

In [ ]:
dt = np.dtype('i4')
print(dt)

int32

In [ ]:
dt = np.dtype('>i4')
print(dt)

>i4

In [ ]:
dt = np.dtype([('age',np.int8)])
print(dt)

[('age', 'i1')]



Data Type: Integer

Size: 4 bytes

Combining 'i' and '4' results in a 4-byte signed integer. The 'i' is a placeholder for the integer data type, and the '4' specifies the number of bytes used to store each element of this type.

In [ ]:
dt = np.dtype([('age',np.uint8)])
print(dt)

[('age', 'u1')]

In [ ]:
dt = np.dtype([('age',np.int8)])
a = np.array([(10,),(20,),(30,)], dtype = dt)
print(a)
print(a.shape)
print(a.ndim)
print(a.dtype)

[(10,) (20,) (30,)]
(3,)
1
[('age', 'i1')]

In [ ]:
student = np.dtype([('name','S20'), ('age', 'i1'), ('marks', 'f4')])
print(student)

[('name', 'S20'), ('age', 'i1'), ('marks', '<f4')]

In [ ]:
a = np.array([('abc', 21, 50),('xyz', 18, 75)], dtype = student) #use student datatype - name,age,marks
print(a)
print(a.shape)
print(a.ndim)
print(a.dtype)

[(b'abc', 21, 50.) (b'xyz', 18, 75.)]
(2,)
1
[('name', 'S20'), ('age', 'i1'), ('marks', '<f4')]

In [ ]:
a = np.array([(1, 21, 50),(2, 18, 75)], dtype = student)
print(a)

[(b'1', 21, 50.) (b'2', 18, 75.)]